# Prime number

In [2]:
def is_prime(number):
    if number <= 1:
        return False
    for factor in range(2, number):
        if number % factor == 0:
            return False
    return True

In [6]:
is_prime(11)

True

In [18]:
def print_prime(number):
    for num in range(1, number):
        if is_prime(num):
            print(num)

In [19]:
print_prime(20)

2
3
5
7
11
13
17
19

In [22]:
daniel = 'boy'
def print_name(name):
    return name

In [23]:
print_name(daniel)

'boy'

In [8]:
def print_high_score(score, high_score):
    if score > high_score:
        print(score)
    else:
        return high_score

In [13]:
print_high_score(7,65)

65

In [16]:
def is_even(number):
    if number % 2 == 0:
        return True
    else:
        return False

In [22]:
is_even(12)

True

In [29]:
def print_even(number):
    for number in range(1, number):
        if is_even(number):
            print(number)

In [30]:
print_even(40)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38

In [31]:
list_number = list(range(20))

In [32]:
list_even = []
for number in list_number:
    if is_even(number):
        list_even.append(number)

In [33]:
list_even

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [35]:

[number for number in list_number if is_even(number)]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [39]:
def to_do(*args):
    print(' I need to: ')
    for arg in args:
        print(' '+ arg)

In [41]:
to_do('watch tv', 'eat')

 I need to:
 watch tv
 eat

In [43]:
def to_do_list(watch_tv, eat):
    print('I need to: ')
    if watch_tv:
        print('watch tv')
    if eat:
        print('eat')

In [44]:
to_do_list(True, False)

I need to:
watch tv

In [58]:
def first_fibannoci(n):
    prev_num = 0
    curr_num = 1
    count = 2
    print(prev_num)
    print(curr_num)
    
    while count <= n:
        next_num = prev_num + curr_num
        print(next_num)
        prev_num = curr_num
        curr_num = next_num
        count += 1

In [59]:
first_fibannoci(8)

0
1
1
2
3
5
8
13
21

In [68]:
def print_age():
    age = input('What is your age: ')
    print('My age is %s years  ' %age)

In [69]:
print_age()

What is your age: 30
My age is 30 years

$$ DataSructure $$

In [74]:
print(type(3.990))

<class 'float'>

In [79]:
grocery_list = ['Banana', 'Mango', 'Apple', 'Orange', 'pinapple']
def buy_grocery_list(items):
    for item in items:
        print('Buying %s...' %item)

In [80]:
buy_grocery_list(grocery_list)

Buying Banana...
Buying Mango...
Buying Apple...
Buying Orange...
Buying pinapple...

In [91]:
grocery_list[:-2]

['Banana', 'Mango', 'Apple']

In [92]:
for item in grocery_list:
    print(item)

Banana
Mango
Apple
Orange
pinapple

In [93]:
grocery_list.extend(['bread', 'oranges'])

In [95]:
grocery_list

['Banana', 'Mango', 'Apple', 'Orange', 'pinapple', 'bread', 'oranges']

In [96]:
grocery_list.pop(-1)

'oranges'

In [100]:
grocery_list.append('sugar')

In [101]:
grocery_list

['Banana', 'Mango', 'Apple', 'Orange', 'pinapple', 'bread', ['sugar'], 'sugar']

In [103]:
del grocery_list[-2]

In [104]:
grocery_list

['Banana', 'Mango', 'Apple', 'Orange', 'pinapple', 'bread', 'sugar']

In [106]:
grocery_list.sort()
grocery_list

['Apple', 'Banana', 'Mango', 'Orange', 'bread', 'pinapple', 'sugar']

# exercise

In [112]:
list_name = ['shola', 'ayo', 'bimpe','dupe','john','ade','ope','titi','tola', 'tolu']

In [113]:
last_two = list_name[-2:]

In [114]:
last_two

['tola', 'tolu']

In [116]:
all_element = list_name[:]
all_element

['shola', 'ayo', 'bimpe', 'dupe', 'john', 'ade', 'ope', 'titi', 'tola', 'tolu']

In [119]:
from_first =list_name[1:]
from_first

['ayo', 'bimpe', 'dupe', 'john', 'ade', 'ope', 'titi', 'tola', 'tolu']

In [120]:
grocery_list[-1] = 'bukky'

In [121]:
grocery_list

['Apple', 'Banana', 'Mango', 'Orange', 'bread', 'pinapple', 'bukky']

In [122]:
def first_last(s):
    return s[0], s[-1]

In [123]:
first_last('hello')

('h', 'o')

In [124]:
first, last = first_last('hello')

In [125]:
print(first)
print(last)

h
o

In [127]:
name, age, degree, school = ('sunday', 30, 'Btech', 'Futminna')
print(name)
print(age)
print(degree)
print(school)

sunday
30
Btech
Futminna

In [128]:
list_tuple = 'a', 2, 5

In [129]:
list_tuple

('a', 2, 5)

In [131]:
list_tuple[1]

2

In [132]:
new_set = {'Tola', 80, 6.78, True}

In [133]:
new_set

{6.78, 80, 'Tola', True}

In [134]:
new_set.pop()

80

In [146]:
a = ([2, 5, 7], 'ade')

In [147]:
a[0][1] = 8

In [148]:
a

([2, 8, 7], 'ade')

In [142]:
ake = [2, 4, 6]

In [144]:
ake[1] = 5

In [145]:
ake

[2, 5, 6]

In [149]:
piles = [2.83, 8.23, 9.38, 10.23, 25.58, 0.42, 5.37, 28.10, 32.14, 7.31]

In [152]:
def hash_function(x):
    return int(x * 100 % 31)

In [153]:
[hash_function(pile) for pile in piles]

[4, 17, 8, 0, 16, 11, 10, 20, 21, 18]

In [155]:
hash_function(33.98)

18

In [156]:
a = set([2, 3, 4, 2, 5, 7])
b = set([2, 6, 9, 8, 1, 3])
print(a)
print(b)

{2, 3, 4, 5, 7}
{1, 2, 3, 6, 8, 9}

In [158]:
print(a.union(b))

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [159]:
a.intersection(b)

{2, 3}

In [160]:
a.difference(b)

{4, 5, 7}

In [161]:
a.symmetric_difference(b)

{1, 4, 5, 6, 7, 8, 9}

In [162]:
info = ['Sunday', 30, 'Male', 'Tall']
print('My name is %s' % info[0])

My name is Sunday

In [163]:
me_dict = {'name': 'Sunday', 'age': 30, 'Gender': 'Male'}

In [165]:
print('my name is %s' % me_dict['name'])

my name is Sunday

In [167]:
print('my age is %s years' % me_dict['age'])

my age is 30 years

In [170]:
print('My name is {}'.format(me_dict['name']))

My name is Sunday

In [172]:
key_data = ['name', 'age']
value_data = ['Sunday', 30]
key_value = list(zip(key_data, value_data))

In [173]:
key_value

[('name', 'Sunday'), ('age', 30)]

In [174]:
dict(key_value)

{'name': 'Sunday', 'age': 30}

In [178]:
new_dict = {('a', 'b'): [6, 7, 8, 9], 'age': 30}

In [179]:
new_dict

{('a', 'b'): [6, 7, 8, 9], 'age': 30}

In [182]:
new_dict.update({'height' : 85.4})

In [184]:
me_dict

{'name': 'Sunday', 'age': 30, 'Gender': 'Male'}

In [185]:
me_dict['height'] = 84.5

In [186]:
me_dict

{'name': 'Sunday', 'age': 30, 'Gender': 'Male', 'height': 84.5}

In [188]:
me_dict.update({'favorite_color': 'white', 'best_sch': 'Futminna'})

In [189]:
me_dict

{'name': 'Sunday',
 'age': 30,
 'Gender': 'Male',
 'height': 84.5,
 'favorite_color': 'white',
 'best_sch': 'Futminna'}

In [190]:
me_dict.keys()

dict_keys(['name', 'age', 'Gender', 'height', 'favorite_color', 'best_sch'])

In [191]:
me_dict.values()

dict_values(['Sunday', 30, 'Male', 84.5, 'white', 'Futminna'])

In [192]:
me_dict.items()

dict_items([('name', 'Sunday'), ('age', 30), ('Gender', 'Male'), ('height', 84.5), ('favorite_color', 'white'), ('best_sch', 'Futminna')])

In [198]:
for values in me_dict.values():
    print(values)

Sunday
30
Male
84.5
white
Futminna

In [200]:
print('name' in me_dict)

True

In [207]:
if 'name' in me_dict:
    print('name: %s' % me_dict['name'])
else:
    print(None)

name: Sunday

In [214]:
c = (2, 3, 4, 5, 'b', 'a')

In [215]:
print(sorted(map(str, c)))

['2', '3', '4', '5', 'a', 'b']

In [217]:
d = ('Sunday', 'Ade', "Tolu")
sorted(d)

['Ade', 'Sunday', 'Tolu']

In [219]:
sorted(me_dict.items())

[('Gender', 'Male'),
 ('age', 30),
 ('best_sch', 'Futminna'),
 ('favorite_color', 'white'),
 ('height', 84.5),
 ('name', 'Sunday')]

In [220]:
for k, v in me_dict.items():
    print('%s: %s' % (k, v))

name: Sunday
age: 30
Gender: Male
height: 84.5
favorite_color: white
best_sch: Futminna

# Comprehension

In [223]:
square = [x**2 for x in range(10)]
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [226]:
sq = []
for x in range(10):
    sq.append(x**2)

In [227]:
sq

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [228]:
square_lut = {x: x**2 for x in range(10)}

In [229]:
square_lut

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [230]:
data_type = {k: type(v) for k, v in me_dict.items()}

In [231]:
data_type

{'name': str,
 'age': int,
 'Gender': str,
 'height': float,
 'favorite_color': str,
 'best_sch': str}

In [246]:
list_num = []
numbers = [2, 4, 5] 
for number in numbers:
    p = 10*number
    list_num.append(p)

In [247]:
list_num

[20, 40, 50]

In [236]:
list_number = [2, 3, 4]
mult = [x*10 for x in list_number]

In [237]:
print(mult)

[20, 30, 40]

In [243]:
print(mult(list_number))

None

In [248]:
from collections import namedtuple
vector3 = namedtuple('vector', ['x', 'y','z'])

In [249]:
vector3

__main__.vector

In [251]:
vec = vector3(1, 2, 3)

In [252]:
vec.x, vec.y, vec.z

(1, 2, 3)

In [253]:
def tfunc(a, b, c):
    print(a, b, c)

In [255]:
tfunc(*vec)

1 2 3

In [256]:
from collections import deque

In [257]:
d = deque(list(range(4)))

In [258]:
d

deque([0, 1, 2, 3])

In [260]:
d.append(10)
print(d)

deque([0, 1, 2, 3, 10, 10])

In [261]:
d.appendleft(20)
print(d)

deque([20, 0, 1, 2, 3, 10, 10])

In [264]:
%%timeit
l_ = []
for i in range(40000):
    l_.insert(0, i)

1.67 s ± 82 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [267]:
%%timeit
d = deque()
for i in range(40000):
    d.append(i)

12.8 ms ± 124 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [269]:
from collections import Counter

In [279]:
e = [2, 3, 2, 1, 1, 1, 4, 5, 6, 5, 5, 5]
count_e = Counter(e)

In [280]:
count_e

Counter({2: 2, 3: 1, 1: 3, 4: 1, 5: 4, 6: 1})

In [281]:
count_e[2], count_e[5]

(2, 4)

In [282]:
count_e.most_common(1)

[(5, 4)]

In [288]:
def count_ele(x):
    count_dict = {}
    for e in x:
        if e in count_dict:
            count_dict[e] +=1
        else:
            count_dict[e] = 1
    return count_dict

In [290]:
count_ele(e)

{2: 2, 3: 1, 1: 3, 4: 1, 5: 4, 6: 1}

# Lucas Lehmer test

In [297]:
def lucas_lehmer(p):
    n =[4]
    for i in range(1, (p-2)+1):
        ni = ((n[i-1])**2-2)%(2**p-1)
        n.append(ni)
    return n

In [298]:
lucas_lehmer(17)

[4,
 14,
 194,
 37634,
 95799,
 119121,
 66179,
 53645,
 122218,
 126220,
 70490,
 69559,
 99585,
 78221,
 130559,
 0]

In [299]:
def lucas_prime(p):
    if lucas_lehmer(p)[(p-2)] == 0:
        return 1
    return 0

In [303]:
def is_prime(number):
    if number < 2:
        return False
    for factor in range(2, number):
        if number % factor == 0:
            return False 
    return True

In [304]:
mersenne_exponent = [n for n in range(3, 65) if is_prime(n)]

In [305]:
mersenne_exponent

[3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61]

In [307]:
mersenne_test = [lucas_prime(p) for p in range(3, 65) if is_prime(p)]

In [308]:
mersenne_test

[1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1]

In [310]:
tup = zip(mersenne_exponent, mersenne_test)

In [311]:
list(tup)

[(3, 1),
 (5, 1),
 (7, 1),
 (11, 0),
 (13, 1),
 (17, 1),
 (19, 1),
 (23, 0),
 (29, 0),
 (31, 1),
 (37, 0),
 (41, 0),
 (43, 0),
 (47, 0),
 (53, 0),
 (59, 0),
 (61, 1)]